BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Always

ColumnLimit: 80

# Brace style Linux

BreakBeforeBraces: Attach

# Pointer on the right (Linux kernel style)

PointerAlignment: Right

# No space before parentheses (Linux)

SpaceBeforeParens: Never

AllowShortIfStatementsOnASingleLine: false
